
code {
  padding: 2px 4px;
  font-size: 90%;
  color: #7ad010 !important;  
  background-color: #2f2d2d !important;
  border-radius: 4px;
}

pre code {
  display: block;
  padding: 10px;
  color: #7ad010 !important; 
  background-color: #2f2d2d !important;
  border-radius: 6px;
  overflow-x: auto;
}



