<div class="row">
  <div class="col-lg-8 col-lg-offset-2">
    <footer>
      {{ site.bye_message }}
    </footer>

   <!-- <a href='https://www.free-counters.org/'>free Hit Counter</a> <script type='text/javascript' src='https://www.freevisitorcounters.com/auth.php?id=a7bf823fc09d85bee91981b1666043184e6b3eb5'></script> -->
   <!-- <script type="text/javascript" src="https://www.freevisitorcounters.com/en/home/counter/1384619/t/1"></script>  -->
    <script src="https://cdn.counter.dev/script.js" data-id="37996a86-65e8-4821-86a5-824f1b1e9b46" data-utcoffset="2"></script>

    
  </div>
</div>
