---
layout: page
---

<div class="post">

  <header class="post-header">
    <p class="meta">
        {{ page.date | date: "%Y-%m-%d" }}
        {% if page.author %} • {{ page.author }}{% endif %}
        {% if page.meta %} • {{ page.meta }}{% endif %}
        •
        {% for category in page.tags %}<span><a href="{{ site.baseurl }}category/#{{ category }}" class="reserved">{{ category }}</a>{% if forloop.last != true %},{% endif %}</span>{% endfor %}
		
    </p>
  </header>

  <article class="post-content">
  {{ content }}
  </article>

		<!-- Subscription link (Ecomail) -->
		<div class="subscribe-box">
		  <h3>🔔 Prihlás sa na odber noviniek</h3>
		  <p>
		    <a href="https://0x00mg.ecomailapp.cz/public/subscribe/1/43c2cd496486bcc27217c3e790fb4088" 
		       target="_blank" rel="noopener noreferrer">
		      Klikni sem a prihlás sa na odber
		    </a>
		  </p>
		</div>
		<!-- End subscription link -->

    </div>
    <!-- End subscription form -->
<!--
	<p class="feed-recomendation">
		Páčil sa vám príspevok? Prihláste sa na <a href="{{ site.baseurl }}feed/">odber</a>!! (V procese...)
	</p>

  {% include disqus.html %}
-->
</div>
